.screen {
    background-color: brown;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
}
.left {
    background-color: green;
    max-width: 25%;
    min-width: 180px;
    height: 100vh;
    margin-right: 4px;
    padding-right: 14px;
}
.right {
    position: relative;
    background-color: #00f;
}
.logged-user-info {
    height: 2cm;
    background-color: lightgray;
    border-right-color: blueviolet;
    border-width: 1px;
}
.chat-user-info {
    height: 2cm;
    background-color: azure;
    border-right-color: blueviolet;
    border-right: 1px;
}
.messages-container {

    background-image: url("../public/background.jpg");
    background-color: chocolate;
    height: calc(100vh - 3.5cm);
    overflow-y: auto;
    scroll-behavior: smooth;
}
.submit-block {
    position: relative;
    background-color: rgb(32, 157, 170);
    height: 1.5cm;  
    vertical-align: bottom;  
}
.chat-list-container {
    background-color: greenyellow;
    min-height: calc(100vh - 2cm);
}
.message-wrapper{
    overflow: hidden;
    background-color: blueviolet;
    height: auto;
    height: 100px;
}
.test{
    background-color: #123332;
}
.submittion-block{
    padding: 3px;
    background-color: black;
}